{% extends "layout.html" %}

{% block content %}
<h2 class="text-center text-uppercase text-secondary mb-0">All publishers</h2>
<hr class="star-dark mb-5">

<div class="row">
  <div class="col-lg-6">

<ul>
{% for publisher in publishers %}
  <li><a href="{{ url_for('iati_canary.publisher', publisher_id=publisher.id) }}">{{ publisher.name }}</a>
  {% if publisher.last_checked %}
    (last checked: {{ publisher.last_checked }})
  {% endif %}
  </li>
{% endfor %}
</ul>

    </div>
</div>
{% endblock %}
