{% extends "layout.html" %}

{% block content %}
<h2 class="text-center text-uppercase text-secondary mb-0">{{ publisher.name }}</h2>
<hr class="star-dark mb-5">

<div class="row">
  <div class="col-lg-12">

{% if publisher.last_checked_at %}
    <p>{{ errors | count }} of {{ publisher.total_datasets }} datasets have issues.</p>
{% else %}
    <p>{{ publisher.total_datasets }} datasets have not yet been checked.</p>
{% endif %}

{% if errors %}
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Dataset</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
{% for error in errors %}
        <tr>
            <td>
                <a href="{{ error.dataset_url }}" target="_blank"><i class="fas fa-cloud-download-alt"></i></a>
            </td>
            <td>
                <a href="https://iatiregistry.org/dataset/{{ error.dataset_id }}">{{ error.dataset_name }}</a>
            </td>
            <td>
                {% if error.last_status == 'success' %}
                    Recently fixed
                {% elif error.error_type == 'download' %}
                    Couldn’t download
                {% elif error.error_type == 'xml' %}
                    Not valid XML
                {% else %}
                    Not valid against IATI schema <a href="http://validator.iatistandard.org/index.php?url={{ error.dataset_url }}" target="_blank">(validate)</a>
                {% endif %}
            </td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% endif %}

{% if publisher.last_checked_at %}
    <p>Last checked: {{ publisher.last_checked_at }}</p>
{% endif %}
    </div>
</div>
{% endblock %}
