{% extends "layout.html" %}

{% block content %}
<h2 class="text-center text-uppercase text-secondary mb-0">{{ publisher.name }}</h2>
<hr class="star-dark mb-5">

<div class="row">
  <div class="col-lg-6">

{% if publisher.last_checked_at %}
    <p>{{ errors | count }} of {{ publisher.total_datasets }} datasets have errors.</p>
{% else %}
    <p>{{ publisher.total_datasets }} datasets have not yet been checked.</p>
{% endif %}

{% if publisher.contacts.count() == 0 %}
    <p>Unfortunately, we don’t have a contact address for this publisher.</p>
{% elif publisher.contacts.count() == 1 %}
    <p>We have 1 contact address for this publisher.</p>
{% else %}
    <p>We have {{ publisher.contacts.count() }} contact addresses for this publisher.</p>
{% endif %}

<ul>
{% for error in errors %}
  <li>{{ error.error_type }}: {{ error.dataset_name }} (<a href="{{ error.dataset_url }}" target="_blank">source</a>) Seen {{ error.error_count }} times; last seen {{ error.last_errored_at }}</li>
{% endfor %}
</ul>

{% if publisher.last_checked_at %}
    <p>Last checked: {{ publisher.last_checked_at }}</p>
{% endif %}
    </div>
</div>
{% endblock %}
