[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
lxml = "*"
iatikit = "*"
flask = "*"
requests = "*"
peewee = "*"
environs = "*"
gunicorn = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.6"
