[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
lxml = "*"
flask = "*"
requests = "*"
flask-sqlalchemy = "*"
environs = "*"
gunicorn = "*"
psycopg2-binary = "*"
iatikit = "*"
flask-cachebuster = "*"
flask-mailgun3 = "*"
flask-migrate = "*"
sqlalchemy-mixins = "*"
flask-wtf = "*"
itsdangerous = "*"

[requires]
python_version = "3.6"
