{% extends "layout.html" %}

{% block content %}

  <!-- Header -->
  <header class="masthead bg-primary text-white text-center">
    <div class="container">
      <img class="img-fluid mb-5 d-block mx-auto" src="{{ url_for('static', filename='img/canary.png') }}" alt="">
      <h1 class="text-uppercase mb-0">IATI Canary</h1>
      <hr class="star-light">
      <h2 class="font-weight-light mb-0">An early warning system for IATI publishers</h2>
    </div>
  </header>

  <!-- About Section -->
  <section id="about">
    <div class="container">
      <h2 class="text-center text-uppercase text-secondary mb-0">About</h2>
      <hr class="star-dark mb-5">
      <div class="row">
        <div class="col-lg-4 ml-auto">
          <p class="lead">IATI Canary is a free data monitoring and alert service. It checks to ensure data is both available and compliant with the IATI schema. If there’s a problem, you’ll be notified by email.</p>
        </div>
        <div class="col-lg-4 mr-auto">
          <p class="lead">If you’re an IATI publisher aiming to ensure your data stays accessible, or a data user keeping an eye on data availability, you may find IATI Canary useful.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Status Section -->
  <section class="bg-primary text-white mb-0" id="status">
    <div class="container">
      <h2 class="text-center text-uppercase text-white">Current status</h2>
      <hr class="star-light mb-5">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <ul class="lead fa-ul">
            <li><span class="fa-li"><i class="fas fa-crow fa-flip-vertical"></i></span>{{ numbers.total_dataset_errors|commify }} of {{ numbers.total_datasets|commify }} datasets on the registry are currently broken</li>
            <li><span class="fa-li"><i class="fas fa-crow fa-flip-vertical"></i></span>A further {{ numbers.total_dataset_schema_errors|commify }} datasets are not valid against the IATI schema</li>
            <li><span class="fa-li"><i class="fas fa-crow fa-flip-vertical"></i></span>{{ numbers.total_pub_errors|commify }} of {{ numbers.total_publishers|commify }} publishers have broken datasets</li>
          </ul>

          <div class="form-group form-group-lg mb-0 pb-2">
            <label class="lead">Search by publisher:</label>
            <select class="form-control form-control-lg" id="show-publisher" placeholder="E.g. Publish What You Fund"></select>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section id="sign-up">
    <div class="container">
      <h2 class="text-center text-uppercase text-secondary mb-0">Sign up</h2>
      <hr class="star-dark mb-5">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <p class="lead">Receive email notifications when a publisher’s datasets break.</p>

          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
              {% endfor %}
            {% endif %}
          {% endwith %}

          <form name="sentMessage" id="contactForm" method="POST" action="{{ url_for('canary.home') }}#sign-up" novalidate="novalidate">{{ form.csrf_token }}
            {% from "_form_control.html" import render_field %}
            {{ render_field(form.name, form, placeholder='E.g. Jenny Publisher') }}
            {{ render_field(form.email, form, placeholder='E.g. jenny@publisher.com') }}
            {{ render_field(form.publisher_id, form, placeholder='E.g. Publish What You Fund') }}

            <div class="form-group">
              {{ form.submit(class="btn btn-primary btn-xl") }}
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
