{% extends "_layout.html" %}

{% block metadata %}
  <meta property="og:url" content="{{ url_for('canary.publisher', publisher_id=publisher.id, _external=True) }}" />
  <meta name="twitter:url" content="{{ url_for('canary.publisher', publisher_id=publisher.id, _external=True) }}" />
  <meta property="og:title" content="{{ publisher.name }} | IATI Canary" />
  <meta name="twitter:title" content="{{ publisher.name }} | IATI Canary" />
  <meta property="og:description" content="{{ publisher.name }} datasets on IATI Canary – An early warning system for IATI publishers." />
  <meta name="twitter:description" content="{{ publisher.name }} datasets on IATI Canary – An early warning system for IATI publishers." />
{% endblock %}

{% block content %}
  <!-- Page content -->
  <section id="page">
    <div class="container">

<h2 class="text-center text-uppercase text-secondary mb-0">{{ publisher.name }}</h2>
<hr class="star-dark mb-5">

<div class="row">
  <div class="col-lg-12">

<p>The publisher has a total of {{ publisher.total_datasets }} datasets.</p>
<ul>
    <li>{{ broken_count }} datasets are broken</li>
    {% set remaining_count = publisher.total_datasets - broken_count %}
    {% if remaining_count > 0 %}
    <li>{{ validation_count }} datasets have validation issues</li>
    {% endif %}
</ul>

{% if errors %}
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Dataset</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
{% for err_type, error in errors %}
        <tr>
            <td>
                <a href="{{ error.dataset_url }}" target="_blank"><i class="fas fa-cloud-download-alt"></i></a>
            </td>
            <td>
                <a href="https://iatiregistry.org/dataset/{{ error.dataset_id }}">{%- if error.dataset_name -%}
                    {{ error.dataset_name }}
                {%- else -%}
                    {{ error.dataset_id }}
                {%- endif -%}</a>
            </td>
            <td>
                {% if not error.currently_erroring %}
                    Recently fixed
                {% elif err_type == '_download' %}
                    Couldn’t download
                {% elif err_type == '_xml' %}
                    Not valid XML
                {% else %}
                    Not valid against IATI schema <a href="http://validator.iatistandard.org/index.php?url={{ error.dataset_url }}" target="_blank">(validate)</a>
                {% endif %}
            </td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% endif %}

    </div>
</div>

    </div>
  </section>
{% endblock %}
